body{
    align-items: center;
}

.Calendar img{
    display: block;
    margin: 0 auto;
}

select{
    display: block;
    width: 200px;
    font-size: 150%;
    margin: 0 auto;
    margin-top: 10px;
}



