li{
    display: block;
}

.grid img:hover{
    opacity: 60%;
    cursor: pointer;
}

.grid img{ 
    margin: 0, auto;
    margin-bottom: 5px;
    display: block;
}

.grid ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
}

