.events img{
    display: inline;
    margin-right: 5px;
}


.events{
    width: 30%;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: left;
}

.events h2{
    margin: 5px;
    margin-top: 10px;
    text-align: center;
}


.events h2, .events li{
    background-color: rgb(253, 244, 201, 0.6);
    padding: 5px;
}