.App {
  text-align: center;
}

nav{
  background-color: lightblue;
  padding: 10px;
  font-size: 120%;
}

.App ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto; 
}

.darkFont{
  color: black;
}
body{
  background-image: url("https://stardewvalleywiki.com/mediawiki/extensions/StardewValley/images/stardewbackground.png");
  font-family: "text";
}

h1{
  font-size: 40px;
}

h2{
  color: rgb(253, 244, 201);
  font-size: 30px;
  margin: 50px;
}

h3 {

    color: rgb(253, 244, 201);
    font-size: 25px;
    margin: 30px;
}

select, option{
  font-family: "pixel";
}

@font-face {
  font-family: "pixel";
  src: url('./components/StardewValleyPixel.ttf');
  format: ("truetype");
}

@font-face {
  font-family: "text";
  src: url('./components/StardewValleyText.ttf');
  format: ("truetype");
}

@font-face {
  font-family: "title";
  src: url('./components/StardewValleyCAPS.ttf');
  format: ("truetype");
}